body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(201, 226, 184);
  display:flex;
  justify-content: center;
}

h3 {
  background-color: white;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
}

button {
  background-color: rgb(120, 166, 250);
  padding: 10px;
  margin: 10px;
}

#form {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  /* background-color: rgb(186, 231, 154);;
  border-style: solid;
  border-radius: 5px; */
}

#map {
  border-style: solid;
  border-radius: 5px;
}

#overview {
  font-size: 12px;
  max-width: 700px;
}